---
import { getCollection } from 'astro:content';
import BlogLayout from "../../layouts/BlogLayout.astro";
import Header from "../../components/blog/react/Header";
import HeroSection from "../../components/blog/HeroSection.astro";
import { SearchBox } from "../../components/blog/react/SearchBox";
import CategoriesSection from "../../components/blog/react/CategoriesSection";
import FeaturedArticles from "../../components/blog/FeaturedArticles.astro";
import SupportCTA from "../../components/blog/SupportCTA.astro";
import NewsletterSection from "../../components/blog/react/NewsletterSection";
import Footer from "../../components/blog/Footer.astro";

const categoriesEntries = await getCollection('categories');
const categories = categoriesEntries.map(c => c.data);
---

<BlogLayout title="Oasis Support & Resource Center | Mental Health Blog">
  <Header categories={categories} client:load />
  <main class="flex-1">
    <HeroSection>
      <SearchBox slot="search" categories={categories} client:load />
    </HeroSection>
    <CategoriesSection categories={categories} client:load />
    <FeaturedArticles />
    <SupportCTA />
    <NewsletterSection client:load />
  </main>
  <Footer />
</BlogLayout>
